# pystan requires this
numpy>=1.18.2, <=1.22.4

pandas==1.4.2
holidays>=0.14.2
matplotlib>=3.5.2

tqdm>=4.64.0
ipywidgets >= 8.0.2
arviz>=0.12.1
matplotlib >=3.5.2
scipy>=1.8.1
pystan==2.19.1.1
# install orbit from dev
orbit-ml>=1.1.2
git+ssh://git@github.com:uber/orbit.git@dev

# torch
# tableone
# altair
# vega_datasets
# plotly
# pandas_datareader
# nbformat
